@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-height: 100%;
}


.wrapper{
  @apply px-36 shadow-header;
}

.body-cus{  
  @apply px-36 bg-slate-200;
}

.flex-link{
  @apply my-3 flex items-center gap-2 h-8;
}

.flex-link:hover{
  @apply  hover:text-white hover:bg-gradient-to-r from-red-cus to-orange-cus;
}

.img-banner {
  @apply w-full h-3/4 rounded-lg cursor-pointer;
}

